.presentation {
  display: flex;
  padding: 5rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.description {
  width: 50%;
}
.description h3 {
  color: #101010;
  font-size: 48px;
  text-transform: uppercase;
}

.description span {
  color: #d87d4a;
}

.description p {
  color: #a6a5a5;
  font-size: 15px;
}

.logo-container {
  margin-bottom: 2rem;
}

.logo-tablet {
  display: none;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .presentation {
    flex-direction: column-reverse;
    gap: 0;
  }
  .logo-desktop {
    display: none;
  }
  .logo-tablet {
    display: block;
  }
  .logo-tablet img {
    width: 100%;
  }
  .description {
    width: 80%;
    text-align: center;
  }
  .description p {
    font-size: 16px;
  }
}
