.product {
  padding: 5rem 0;
}

.product-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.img-container {
  width: 60%;
}

.tablet-image {
  display: none;
}

.mobile-image {
  display: none;
}

.desktop-image img {
  width: 550px;
  height: 550px;
}

.descr-container {
  width: 40%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.descr-container .new {
  color: #d87d4a;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 100 !important;
  margin-left: 2rem;
  padding-top: 2rem;
}
.descr-container h3 {
  color: #101010;
  font-size: 36px;
}

.descr-container span {
  font-weight: bold;
}

.descr-container p {
  color: #a6a5a5;
  padding-bottom: 1rem;
}

.product-price span {
  color: #d87d4a;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.descr-container .product-price {
  color: black;
  letter-spacing: 0;
}

.product-buy {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.product-buy button {
  border: none;
}

.features {
  display: flex;
  gap: 5rem;
}

.features h3 {
  color: #101010;
  font-size: 24px;
  text-transform: uppercase;
}

.features-container {
  width: 60%;
}

.features-container p {
  color: #a6a5a5;
  font-size: 14px;
}

.inTheBox span {
  color: #a6a5a5;
  font-size: 14px;
  margin: 0.5rem;
}

.images-showcase {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}

.desktop-left-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tablet-left-images,
.tablet-right-image,
.mobile-left-images,
.mobile-right-image {
  display: none;
}

.desktop-left-images img,
.desktop-right-image img,
.tablet-left-images img,
.tablet-right-image img,
.mobile-left-images img,
.mobile-right-image img {
  border-radius: 8px;
}

.desktop-right-image,
.tablet-right-image,
.mobile-right-image {
  width: 45%;
}

.also-like {
  text-align: center;

  padding-top: 5rem;
}
.also-like h3 {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
}

.others {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.others-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.desktop-product-img img {
  width: 350px;
  height: 320px;
}

.tablet-product-img {
  display: none;
}

.mobile-product-img {
  display: none;
}

.others-container span {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.others-container a {
  width: 95px;
  text-align: center;
}

/* Tablets */

@media (min-width: 481px) and (max-width: 1024px) {
  .product-container .descr-container {
    width: 90%;
  }

  .desktop-image {
    display: none;
  }

  .tablet-image {
    display: block;
  }

  .tablet-image img {
    width: 280px;
    height: 480px;
  }

  .features {
    flex-direction: column;
  }

  .features-container {
    width: 100%;
  }

  .features-container p {
    font-size: 16px;
  }

  .inTheBox {
    display: flex;
    gap: 20rem;
  }

  .includes-wrapper {
    font-size: 16px;
  }

  .desktop-product-img {
    display: none;
  }

  .desktop-left-images,
  .desktop-right-image {
    display: none;
  }

  .tablet-left-images,
  .tablet-right-image {
    display: block;
  }

  .tablet-right-image {
    margin-right: 2rem;
  }

  .tablet-right-image img {
    width: 395px;
    height: 405px;
  }

  .tablet-left-images img {
    width: 400px;
    height: 200px;
  }

  .tablet-product-img {
    display: block;
  }
  .tablet-product-img img {
    width: 223px;
    height: 318px;
  }
}

/* Mobiles */

@media (min-width: 320px) and (max-width: 480px) {
  .desktop-image {
    display: none;
  }

  .img-container {
    width: 90%;
    margin-left: 1.5rem;
  }

  .mobile-image {
    display: block;
  }

  .mobile-image img {
    width: 100%;
  }
  .product-container {
    flex-direction: column;
    align-items: normal;
    gap: 0;
  }

  .descr-container {
    padding: 0;
    padding-bottom: 2rem;
    width: 90%;

    text-align: center;
  }

  .descr-container p {
    margin-left: 1rem;
  }

  .product-price {
    padding-left: 2rem;
  }

  .product-buy {
    padding-left: 2rem;
  }

  .features {
    flex-direction: column;
  }

  .features-container {
    width: 90%;
    margin: auto;
  }

  .inTheBox {
    margin-left: 1.5rem;
  }

  .desktop-left-images {
    display: none;
  }

  .desktop-right-image {
    display: none;
  }

  .mobile-left-images {
    display: block;
  }

  .mobile-left-images img {
    width: 90%;
    margin-left: 1.5rem;
  }

  .mobile-right-image {
    display: block;
  }

  .mobile-right-image img {
    height: 420px;
    margin-left: 1.5rem;
  }

  .images-showcase {
    flex-direction: column;
  }

  .others {
    flex-direction: column;
  }

  .desktop-product-img {
    display: none;
  }

  .mobile-product-img {
    display: block;
    margin-left: 1.5rem;
    padding-top: 2.5rem;
  }

  .mobile-product-img img {
    width: 95%;
  }
}
