.product {
  padding: 5rem 0;
}

.product-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.img-container {
  width: 60%;
}

.img-container img {
  width: 550px;
  height: 550px;
}

.descr-container {
  width: 40%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.descr-container h3 {
  color: #101010;
  font-size: 36px;
}

.descr-container p {
  color: #a6a5a5;
  padding-bottom: 1rem;
}

.product-price span {
  color: #d87d4a;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.descr-container .product-price {
  color: black;
  letter-spacing: 0;
}

.product-buy {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.product-buy button {
  border: none;
}

.features {
  display: flex;
  gap: 5rem;
}

.features h3 {
  color: #101010;
  font-size: 24px;
  text-transform: uppercase;
}

.features-container {
  width: 60%;
}

.features-container p {
  color: #a6a5a5;
  font-size: 14px;
}

.inTheBox span {
  color: #a6a5a5;
  font-size: 14px;
  margin: 0.5rem;
}

.images-showcase {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}

.left-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left-images img,
.right-image img {
  border-radius: 8px;
}

.right-image {
  width: 45%;
}

.also-like {
  text-align: center;

  padding-top: 5rem;
}
.also-like h3 {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
}

.others {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.others-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.others-container img {
  width: 350px;
  height: 320px;
}

.others-container span {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.others-container a {
  width: 95px;
  text-align: center;
}
