.checkout-modal {
  position: absolute;
  right: 630px;
  top: 200px;
  background-color: white;
  width: 370px;
  max-width: 100%;
  height: 490px;
  max-height: 100%;
  border-radius: 8px;
  padding: 48px;
  overflow: auto;
}
.ReactModal__Overlay {
  background-color: rgba(151, 151, 151, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3-accept h3 {
  color: black;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
}

.span-accept {
  color: #a6a5a5;
  font-size: 13px;
}

.accept-order {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border-radius: 8px;
}

.item-box {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.item-img {
  width: 100px;
  overflow: hidden;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-showcase-descr {
  display: flex;
}

.first-item-review h3 {
  color: black;
  font-size: 14px;
}

.first-item-review span {
  color: #a6a5a5;
}

.items-quantity {
  padding-top: 1rem;
  margin-left: 2rem;
  padding-right: 1rem;
}

.items-quantity span {
  color: #a6a5a5;
  font-size: 13px;
}

.total-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: black;
  width: 100%;
  padding: 2rem 0;
  border-radius: 8px;
}

.grtotal-span span {
  color: #a6a5a5;
  text-transform: uppercase;
}

.gr-total span {
  font-weight: bold;
}

.back-home a {
  width: 88%;
  text-align: center;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .checkout-modal {
    top: 200px;
    right: 250px;
  }
}
