.burger-bar {
  display: none;
}
.burger-bar svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding-top: 0.2rem;
}
.burger-modal {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  border-radius: 8px;
  padding: 48px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .burger-bar {
    display: block;
  }
}

/* Mobiles */

@media (min-width: 320px) and (max-width: 480px) {
  .burger-bar {
    display: block;
  }
}
