.type {
  background-color: #fafafa;
}

.categorie {
  background-color: #191919;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.container:nth-child(even) .type-container {
  flex-direction: row-reverse;
}

.type-container .type-image img {
  width: 550px;
  height: 550px;
}
.image-tablet {
  display: none;
}
.image-mobile {
  display: none;
}

.type-descr {
  width: 40%;
}

.type-descr span {
  color: #d87d4a;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.type-descr h3 {
  color: #101010;
  font-size: 36px;
  font-weight: bold;
  max-width: 220px;
}

.type-descr p {
  color: #a6a5a5;
  font-size: 15px;
  padding-bottom: 1rem;
}

.type-descr .navlink-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d87d4a;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .type-container {
    flex-direction: column;
  }

  .container:nth-child(even) .type-container {
    flex-direction: column;
  }

  .type-image {
    display: none;
  }

  .image-tablet {
    display: block;
  }

  .type-descr {
    text-align: center;
    margin-top: 1rem;
  }
  .type-descr h3 {
    margin-left: 3.5rem;
  }
}
