.type {
  background-color: #f1f1f1;
}

.categorie {
  background-color: #191919;
}

.main {
  display: flex;
}

.type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-container img {
  max-width: 100%;
  height: auto;
}

.type-descr {
  width: 50%;
}

.type-descr span {
  color: #d87d4a;
}
.type-descr h3 {
  color: #101010;
}

.type-descr p {
  color: gray;
}

.type-descr .navlink-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d87d4a;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
