.ReactModal__Overlay {
  background-color: rgba(151, 151, 151, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-modal {
  background-color: white;
  width: 540px;
  max-width: 100%;
  height: 580px;
  max-height: 100%;
  border-radius: 8px;
  padding: 48px;
}
