.underline {
  margin: 0 auto;
  width: 75%;
  border: 1px solid #979797;
  margin-bottom: 3rem;
}

.showcase {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.showcase-descr {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #f1f1f1;
}
.showcase-descr span {
  color: #979797 !important;
  text-transform: uppercase;
}

.showcase-descr h2 {
  text-transform: uppercase;
  font-size: 42px;
}

.showcase-descr a {
  width: 25%;
  border: 1px solid transparent;
  background-color: #d87d4a;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}
