.filter-container {
  background-color: rgb(233, 233, 233);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  border-radius: 8px;
  padding-bottom: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.filter-container img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  max-width: 123px;
  z-index: 999;
}

.filter-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.filter-container h3 {
  color: #101010;
  margin: 10px 0;
}
