.filter-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 8px;
}

.filter-container h3 {
  color: #101010;
  margin: 10px 0;
  text-transform: capitalize;
}

.filter-navlink {
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-navlink:link,
.filter-navlink:visited {
  color: gray;
}

.filter-navlink:hover {
  color: #d87d4a;
}
