.checkout-body {
  background-color: #f1f1f1;
}
.checkout-wrapper {
  display: flex;
  padding: 10rem 0;
}
.checkout-container {
  display: flex;
}
.billing-form {
  display: flex;
  gap: 1rem;
}
.summary-container h3 {
  color: black;
}
