.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

header a {
  color: #101010;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
}
