.input-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 30px;
  position: relative;
}

.input-wrapper label {
  color: black;
  font-family: bold;
  position: absolute;
  top: 0;
  left: 0;
}

.input {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 24px;
  width: 240px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input:focus {
  outline: none;
  border-color: #d87d4a;
}

.input-wrapper.error .input {
  color: #cd2c2c;
  border: 2px solid #cd2c2c;
}

.input-wrapper.error label {
  color: #cd2c2c;
}

.input-wrapper.error .error-message {
  color: #cd2c2c;
  position: absolute;
  top: -20px;
  left: 170px;
  font-size: 12px;
}

/* Radio Input Wrapper */

.radio-input-wrapper {
  display: inline-flex;
  border: 1px solid #d87d4a;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 18px 24px;
  width: 240px;
}
.radio-input-wrapper label {
  color: black;
  padding-left: 1rem;
}

.radio-input-wrapper input {
  accent-color: #d87d4a;
  align-content: center;
  width: 20px;
  height: 20px;
}

/* Tablets */

@media (min-width: 481px) and (max-width: 1024px) {
  .input-wrapper.error .error-message {
    color: #cd2c2c;
    position: absolute;
    top: -50px;
    left: 210px;
    font-size: 12px;
  }
}

/* Mobiles */

@media (min-width: 320px) and (max-width: 480px) {
  .input-wrapper,
  .radio-input-wrapper {
    margin-top: 2rem;
  }
  .input-wrapper.error .error-message {
    color: #cd2c2c;
    position: absolute;
    top: -50px;
    left: 210px;
    font-size: 12px;
  }
}
