.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo-descr a {
  font-size: 24px;
  font-weight: bold;
}

.logo-descr p {
  margin: 2rem 0;
  font-size: 14px;
}

.logo-descr span {
  font-size: 14px;
}

.footer-categories {
  width: 100%;
}

.footer-categories .categories {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.footer-categories .categories a {
  font-size: 14px;
  font-weight: bold;
}

.social-networks {
  margin-top: 4.5rem;
  margin-right: 1.3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
