* {
  text-decoration: none;
  color: #f1f1f1;
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

body {
  width: 100%;
  background-color: #191919;
  font-family: 'Manrope', sans-serif;
}

/* Mobiles */

@media (min-width: 320px) and (max-width: 480px) {
  :root {
    width: 92vw;
  }

  .container {
    width: 100%;
  }
}
